<nav class="navbar navbar-dark">
  <div class="d-flex align-items-center w-100">
    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ms-3 d-none d-md-block" href="#">
      <img width="100" src="teb_logo.svg" alt="Logo"/>
      Flashcards TEB App
    </a>

    <app-header></app-header>

    <ul class="nav ms-auto">
      <li class="nav-item" *ngIf="!accountService.currentUserName">
        <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="active-link">Logowanie</a>
      </li>
      <li class="nav-item" *ngIf="!accountService.currentUserName">
        <a class="nav-link text-white" [routerLink]="['/register']" routerLinkActive="active-link">Rejestracja</a>
      </li>
      <li class="nav-item" *ngIf="accountService.currentUserName">
        <a class="nav-link text-white" href="#" onclick="return false" (click)="onLogOutClicked()">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>
<div class="offcanvas offcanvas-start text-white" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">
      <img width="100" src="teb_logo.svg" alt="Logo"/>
      Flashcards TEB App
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-house-door"></i> Strona główna
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources">
          <i class="bi bi-folder"></i> Twoje zasoby
        </a>
      </li>
      <hr class="border-white">
      <li class="nav-item">
        <a class="nav-link" href="/create">
          <i class="bi bi-card-text"></i> Fiszki
        </a>
      </li>
    </ul>
  </div>
</div>
