<div class="h-screen flex items-center justify-center">
  <form class="shadow-lg rounded-lg p-6 bg-white w-full max-w-md" [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
    <div class="py-4 text-center">
      <h1 class="font-bold text-2xl text-purple-700">
        Rejestracja
      </h1>
      <h6 class="text-slate-600 text-base">
        Utwórz nowe konto
      </h6>
    </div>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="personName" placeholder="Imię"/>
      <mat-icon matPrefix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="E-mail"/>
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" placeholder="Hasło" type="{{hidePassword ? 'password' : 'text'}}"/>
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
        {{ hidePassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput formControlName="confirmPassword" placeholder="Potwierdź hasło" type="{{hideConfirmPassword ? 'password' : 'text'}}"/>
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>
        {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <button type="submit"
            [disabled]="!registerForm.valid"
            class="bg-purple-700 hover:bg-purple-500 disabled:bg-purple-400 border border-slate-200 font-bold py-2 px-4 rounded-md w-full text-white">
      Zarejestruj się
    </button>

    <div class="my-4 text-center">
      <span class="text-slate-600 hover:text-slate-700">
        Masz już konto?
      </span>
      <a routerLink="/login" class="text-purple-700 hover:text-purple-500">
        Zaloguj się
      </a>
    </div>
  </form>
</div>
