<div class="menu-container">
  <nav class="menu">
    <a #leftLink href="/resources" routerLinkActive="active" (mouseenter)="setActive('left', true, $event)" (mouseleave)="setActive('left', false, $event)">Zestawy fiszek</a>
    <a #rightLink href="/folders" routerLinkActive="active" (mouseenter)="setActive('right', true, $event)" (mouseleave)="setActive('right', false, $event)">Foldery</a>
  </nav>
  <div class="border-indicator">
    <div class="left-border" [ngClass]="{'active': isLeftActive}" [style.width.px]="leftBorderWidth"></div>
    <div class="right-border" [ngClass]="{'active': isRightActive}" [style.width.px]="rightBorderWidth"></div>
  </div>
</div>

<div class="container">
  <div class="filter-bar">
    <select [(ngModel)]="selectedOption" (change)="onOptionChange($event)">
      <option value="created">Utworzone</option>
      <option value="recent">Ostatnie zestawy</option>
      <option value="studied">Uczyłem się</option>
    </select>
    <div class="search-bar">
      <input type="text" placeholder="Wyszukuj fiszki" [(ngModel)]="searchQuery"/>
      <i class="bi bi-search"></i>
    </div>
  </div>

  <!-- Wyswietl liste uzytkownikow -->
  <table class="table w-100" *ngIf="users.length > 0">
    <thead>
    <tr>
      <th>#</th>
      <th>Imię użytkownika</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{i + 1}}</td>
      <td>
        <p>{{user.personName}}</p>
      </td>
      <td>
        <p>{{user.email}}</p>
      </td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-warning" (click)="refreshClicked()">
    Refresh
  </button>

  <div *ngIf="selectedOption === 'created'">
    <!-- Wyświetl utworzone zestawy fiszek -->
    <div *ngFor="let set of flashcardSets" class="flashcard-set-container">
      <div class="date-bar">
        <p>{{ set.createdAt | date }}</p>
        <div class="horizontal-bar"></div>
      </div>
      <a [routerLink]="['/set', set.id]" class="flashcard-set-link">
        <div class="flashcard-set">
          <div class="set-header">
            <div class="profile-info">
              <img src="profile.gif" alt="Profile Picture" class="profile-picture">
              <p>{{ set.username }}</p>
            </div>
            <div class="set-info">
              <p>{{ set.termCount }} pojęć</p>
            </div>
          </div>
          <div class="set-footer">
            <h3>{{ set.title }}</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="selectedOption === 'recent'">
    <!-- Wyświetl ostatnie zestawy fiszek -->
  </div>
  <div *ngIf="selectedOption === 'studied'">
    <!-- Wyświetl zestawy fiszek, które użytkownik się uczył -->
  </div>
</div>
