<div *ngIf="flashcardSet">
  <h1>{{ flashcardSet.title }}</h1>
  <p>{{ flashcardSet.description }}</p>
  <div *ngIf="!showSummary">
    <div class="flashcard" (click)="flipCard()">
      <div class="flashcard-inner" [class.flipped]="flipped[currentIndex]">
        <div class="flashcard-front">
          <p><strong>Pojęcie:</strong> {{ flashcardSet.flashcards[currentIndex].term }}</p>
          <div class="shortcut-info">
            <i class="bi bi-keyboard"></i> Skrót klawiszowy: Naciśnij spację lub kliknij na fiszkę, aby ją obrócić
          </div>
        </div>
        <div class="flashcard-back">
          <p><strong>Definicja:</strong> {{ flashcardSet.flashcards[currentIndex].definition }}</p>
          <div class="shortcut-info">
            <i class="bi bi-keyboard"></i> Skrót klawiszowy: Naciśnij spację lub kliknij na fiszkę, aby ją obrócić
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <button (click)="previousFlashcard()" class="btn btn-outline-secondary btn-previous" [disabled]="loading" title="⬇️">
        ⬅️
      </button>
      <button (click)="markAsUnknown()" class="btn btn-outline-danger btn-unknown" [disabled]="loading" title="←">
        ❌️
      </button>
      <span>{{ currentIndex + 1 }} / {{ flashcardSet.flashcards.length }}</span>
      <button (click)="markAsKnown()" class="btn btn-outline-success btn-known" [disabled]="loading" title="→">
        ✅
      </button>
      <button (click)="resetFlashcards()" class="btn btn-outline-warning btn-reset" [disabled]="loading" title="↑">
        🔄
      </button>
    </div>
    <button (click)="toggleNarrator()" class="btn btn-secondary" [disabled]="loading">
      <i [ngClass]="narratorEnabled ? 'bi bi-volume-mute' : 'bi bi-volume-up'"></i>
    </button>
    <div *ngIf="feedbackMessage" [ngClass]="feedbackClass" class="feedback">
      {{ feedbackMessage }}
    </div>
  </div>
  <div *ngIf="showSummary" class="summary">
    <h2>{{ getProgressMessage() }}</h2>
    <p>Twoje postępy</p>
    <div *ngIf="getProgressPercentage() === 100; else progressChart">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle-bg"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle correct"
              stroke-dasharray="100, 100"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831" />
        <svg x="9" y="9" viewBox="0 0 100 100" width="18" height="18">
          <path fill="none" stroke="#59E8B5" stroke-width="4" d="M72.553 46.505c0-1.014-.394-1.99-1.1-2.718l-.021-.02a3.826 3.826 0 0 0-5.366 0L50.98 59.321l-4.307-4.424-.02-.02a3.825 3.825 0 0 0-5.366 0l-.02.021a3.9 3.9 0 0 0 .001 5.436l7.01 7.202a3.78 3.78 0 0 0 2.709 1.148 3.76 3.76 0 0 0 2.709-1.149l17.756-18.314a3.9 3.9 0 0 0 1.1-2.718">
            <animate attributeName="stroke-dasharray" from="0,100" to="100,0" dur="1.7s" fill="freeze" />
          </path>
        </svg>
      </svg>
    </div>
    <ng-template #progressChart>
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle-bg"
              d="M18 2.0845
             a 15.9155 15.9155 0 0 1 0 31.831
             a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle correct"
              [attr.stroke-dasharray]="getProgressPercentage() + ', 100'"
              d="M18 2.0845
             a 15.9155 15.9155 0 0 1 0 31.831
             a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path class="circle incorrect"
              [attr.stroke-dasharray]="(100 - getProgressPercentage()) + ', 100'"
              [attr.stroke-dashoffset]="getProgressPercentage()"
              d="M18 2.0845
             a 15.9155 15.9155 0 0 1 0 31.831
             a 15.9155 15.9155 0 0 1 0 -31.831" />
        <path *ngIf="getProgressPercentage() === 100"
              d="M10 18l5 5l10-10" />
        <text x="18" y="20.35" class="percentage">{{ getProgressPercentage() }}%</text>
      </svg>
    </ng-template>
    <p>Umiem: {{ getKnownCount() }}</p>
    <p>Wciąż się uczę: {{ getUnknownCount() }}</p>
    <p>Liczba pozostałych pojęć: {{ getRemainingCount() }}</p>
    <button (click)="resetFlashcards()" class="btn" [disabled]="loading">Zresetuj fiszki</button>
    <button (click)="practiceWithQuestions($event)" class="btn practice-btn" [disabled]="loading">
      Ćwicz z pytaniami
    </button>
  </div>
  <!-- Udostepnij button -->
  <div class="share">
    <button class="btn btn-secondary" [disabled]="loading">
      <i class="bi bi-share" style="margin-right: 10px"></i> Udostępnij
    </button>

  <button (click)="editFlashcardSet()" class="btn btn-primary" [disabled]="loading">
    <i class="bi bi-pencil"></i>
  </button>
  <div class="dropdown" [class.show]="dropdownOpen">
    <button (click)="toggleDropdown()" class="btn btn-secondary dropdown-toggle" [disabled]="loading">
      <i class="bi bi-three-dots"></i>
    </button>
    <div class="dropdown-menu" [class.show]="dropdownOpen">
      <button class="dropdown-item" (click)="addToFolder()">
        <i class="bi bi-folder"></i> Dodaj do folderu
      </button>
      <button class="dropdown-item" (click)="saveAndEdit()">
        <i class="bi bi-save"></i> Zapisz i edytuj
      </button>
      <button class="dropdown-item" (click)="print()">
        <i class="bi bi-printer"></i> Drukuj
      </button>
      <button class="dropdown-item" (click)="connect()">
        <i class="bi bi-link"></i> Połącz
      </button>
      <button class="dropdown-item" (click)="export()">
        <i class="bi bi-box-arrow-up"></i> Eksport
      </button>
      <button class="dropdown-item" (click)="embed()">
        <i class="bi bi-code"></i> Osadź
      </button>
      <button class="dropdown-item text-danger" (click)="deleteSet()">
        <i class="bi bi-trash"></i> Usuń
      </button>
    </div>
  </div>
</div>
</div>
