<div class="h-screen flex items-center justify-center">
  <form class="shadow-lg rounded-lg p-6 bg-white w-full max-w-md" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
    <div class="py-4 text-center">
      <h1 class="font-bold text-2xl text-purple-700">
        Logowanie
      </h1>
      <h6 class="text-slate-600 text-base">
        Zaloguj się do swojego konta
      </h6>
    </div>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="E-mail"/>
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" placeholder="Hasło" type="{{hide ? 'password' : 'text'}}" />
      <mat-icon matPrefix>lock</mat-icon>
      <mat-icon (click)="hide = !hide" matSuffix>
        {{ hide ? 'visibility_off': 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <button type="submit"
            [disabled]="!loginForm.valid"
            class="bg-purple-700 hover:bg-purple-500 disabled:bg-purple-400 border border-slate-200 font-bold py-2 px-4 rounded-md w-full text-white">
      Zaloguj się
    </button>

    <div class="my-4 text-center">
      <span class="text-slate-600 hover:text-slate-700">
        Nie masz konta?
      </span>
      <a routerLink="/register" class="text-purple-700 hover:text-purple-500">
        Zarejestruj się
      </a>
    </div>
  </form>
</div>
