<div>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="text-white font-bold flex items-center">
      <img src="teb_logo.svg" alt="TEB Logo" class="h-8 mr-2 hidden md:block"/>
      <span>Fiszki TEB</span>
    </a>
    <div class="w-full"></div>
    <div class="flex gap-2 items-center">
      <a mat-button routerLink="/login" class="text-white">Logowanie</a>
      <a mat-button routerLink="/register" class="text-white">Rejestracja</a>
    </div>
  </mat-toolbar>
</div>
