<!--<h1>Witaj w aplikacji Fiszki!</h1>-->

<!--<p>Aplikacja Fiszki pozwala na tworzenie zestawów fiszek, które pomagają w nauce. Możesz tworzyć nowe zestawy fiszek, dodawać do nich fiszki, a następnie je przeglądać.</p>-->

<!--<p>Aby zacząć korzystać z aplikacji, wybierz jedną z opcji w menu.</p>-->

<!--<p>Aplikacja Fiszki została stworzona w ramach szkolnego kółka programistycznego w Technikum TEB Edukacja w Łodzi. :)</p>-->

<!--<img src="teb-logo-home.svg" width="200px"/>-->

<div class="flex items-center flex-col pt-56 h-screen">
  <div class="h-screen">
    <h1 class="text-4xl text-center font-bold my-10"> Witaj w

      <span class="text-5xl text-green-800">Fiszki TEB !</span>
    </h1>

    <div class="flex flex-col items-center gap-3 justify-center">
      <p class="text-2xl">Nie jesteś zalogowany</p>
      <a routerLink="/login">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md">
          Zaloguj się
        </button>
      </a>
    </div>
  </div>
</div>
